<h2><%= link_to 'Login', new_seller_session_path %></h2>
<h2><%= link_to 'Sign Up', new_seller_registration_path %></h2>
<h2><%= link_to 'Logout', destroy_seller_session_path, method: :delete %></h2>


<div>Dream Houseで物件を掲載するこれだけの理由</div>
<div>万が一の場合も安心</div>
<div>ステップで準備完了！①無料で物件を掲載しましょう！②募集要項を決めましょう！③オファーを受けましょう！</div>